<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">About</h1>
  </div>
  <div class="pt-3">
    <p>This is a simple CRUD user management system, developed as a personal project to learn backend development. This app was created with NodeJS, MongoDB, Express, and EJS.</p>
    <p>Make sure to check out my <a href="https://github.com/aved2" target="_blank" rel="noopener noreferrer">Github</a>  and <a  href="https://linkedin.com/in/aditya-ved/" target="_blank"
        rel="noopener noreferrer">LinkedIn</a> !!</p>
  </div>